*{margin:0;
padding:0;}
ul{
	list-style: none;
}
html{font-size:62.5%; /* 10鉊�鉊�16=62.5% */} 
body{font-size:16px;font-size:1.6rem ; /* 12鉊�鉊�10=1.2 */} 

body{  
  font: normal 100% Helvetica, Arial, sans-serif;
  background-color: #F8F8F5;
  overflow-x:hidden;
} 

#page4{
	/*position: absolute;*/
	width: 100%;
	height: 100%;
}

.top{
	position: relative;
	width: 100%;
	height: 80px;
	background: url(../images/header.png);
	padding-top: 1px;
}

.top span{
	position: absolute;
	margin: -15px -50px;
	left:50%;
	top:50%;
	top:40px;
	color: #FFFFFF;
	font-size: 2.5em;

}
.top img{
	width: 30px;
	height: 30px;
	margin-top: 25px;
	margin-left: 4%;
	cursor: pointer;
}

#bg{
	width:100%; 
}

.top_title ul{
	width: 100%;
	height: auto;
	background: #FFFFFF;
	margin: 4% 0;
}

.top_title ul li{
	position: relative;
	width: 32%;
	height: auto;
	display: inline-block;
	background: #FFFFFF;
	padding:1% 0; 
	border-bottom: 1px solid #F0F0F0;
	border-right: 1px solid #F0F0F0;
	cursor: pointer;
}

.top_title ul li img{

	position: absolute;
	margin:0 -26px; 
	left:50%;
}

.top_title ul li a{
	display: block;
	text-decoration:none;
	width: 90%;
	margin-top: 40%;
	font-size: 2em;
	color: #B3B3B3;
	padding-left: 4%;
	text-align: center;
}


#menu{
	position: absolute;
	top:0;
	left: -80%;
	background: #222222;
	width: 80%;
	height: 100%;
}

.info{
	width: 120px;
	margin-left: 35%;
}

.pic{
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	width: 120px;
	height: 120px;
	margin-top: 50px;
	overflow: hidden;
}

.pic img{
	width: 100%;
	height: 100%;
}

#user{
	margin-left: 10px;
	font-size: 2em;
	color: #FFFFFF;
}

#user_num{
	margin-left: 22px;
	font-size: 1.5em;
	color: #cccccc;
}

#menu ul{
	width: 100%;
	height: auto;
	margin: 4% 0;
}

#menu ul li{
	position: relative;
	width: 92%;
	height: auto;
	margin-left: 4%;
	padding:6% 0; 
	border-bottom: 1px solid #444444;
	cursor: pointer;
}

#menu ul li:last-of-type{
	border-bottom: none;

}

#menu ul li img{
	width: 10%;
	margin-left: 4%;
}

#menu ul li a{
	position: absolute;
	text-decoration:none;
	/* text-indent: 4%; */
	width: 80%;
	margin-top:-12px;
	margin-left: 2%;
	top: 50%;
	font-size: 2em;
	color: #cccccc;
}
.active{
	color: #FFFFFF !important;
}
